{% extends "base.jinja" %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" action="/register">
            <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=30) }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <span style="color:red;">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </p>

                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=30) }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span style="color:red;">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </p>

                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=30) }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span style="color:red;">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </p>
                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </body>
{% endblock %}
